.menu-bg{
    background:linear-gradient(to right, #8de848b5 0%, #3c96ff 100%) !important;
    overflow: hidden;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 5px 0px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.isDisabled {
  color: #ffffff !important;
  text-decoration: none;
}

.menu-bg .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}